div.galeria_contenedor{
    width: 90% !important;
    margin-left: 100px;
}
section.galeria{
    background: url("../image/tu_reto.jpg")50% 0 no-repeat fixed; 
    height: 740px !important;
    background-size: cover;
}
h1.titulo_salida{
    text-align: center;
    margin-top: -3px;
    margin-bottom: 2px;
}
div.salida{
    width: 250px;
    float: left;
    margin:5px;
    background-color: rgba(0,0,0,0.8);
}
